/* custom css */
body{
	margin: 25px 50px;
}

a:link{
	text-decoration: none;
	color: #1A1A66;
}

a:visited{
	color: #1A1A66;
}

a:hover{
	color: #666666;
}

div.top{
	background-color: #333333;
	color: #CCCCCC;
	font-family: "Garamond";
}

div.home{
	float: left;
}

img.WUlogo{ 
	height: 90px;
	width: 90px;
	float: right;
	margin-right: 20%;
}

img.EdinLogo{
	height: 90px;
	width: 90px;
	float: right;
	margin-top: -30px;
	margin-right: 20%;
}

img.DCL{
	height: 100px;
	width: 100px;
	float: right;
	margin-top: 20px;
	margin-right: 20%;
}

img.Methodist{
	height: 90px;
	width: 180px;
	float: right;
	margin-right: 15%;
}

img.Dynamo{
	height: 90px;
	width: 90px;
	float: right;
	margin-right: 20%;
}

img.YMCA{
	height: 100px;
	width: 100px;
	float: right;
	margin-right: 20%;
}


